[submodule "bwv1006"]
	path = bwv1006
	url = https://github.com/musicollator/bwv1006.git
	branch = main
[submodule "bwv543"]
	path = bwv543
	url = https://github.com/musicollator/bwv543.git
	branch = main
[submodule "bwv849"]
	path = bwv849
	url = https://github.com/musicollator/bwv849.git
	branch = main
[submodule "bwv659"]
	path = bwv659
	url = https://github.com/musicollator/bwv659.git
	branch = main
[submodule "bwv639"]
	path = bwv639
	url = https://github.com/musicollator/bwv639.git
	branch = main
[submodule "bwv-siegel"]
	path = bwv-siegel
	url = https://github.com/musicollator/bwv-siegel.git
[submodule "bwv846"]
	path = bwv846
	url = https://github.com/musicollator/bwv846.git
