div.siegel {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}

#logoLeft,
#logoRight {
  position: absolute;
  top: 0;
  width: 50vw;
  height: 100vh;
  background-color: transparent;
}

#logoLeft {
  left: -111vw;
}

#logoRight {
  left: 111vw;
}

#backgroundLeft,
#backgroundRight {
  position: relative;
  background-color: #ffffffc0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

#foregroundLeft.siegel {
  background-image: url("index.svg?v=1.0.4-beta.2#bach_siel_full_left-view");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}

#foregroundRight.siegel {
  background-image: url("index.svg?v=1.0.4-beta.2#bach_siel_full_right-view");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
}
